@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&display=swap");
* {
  font-family: "Noto Serif JP", serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 17.5px;
}

html, body {
  width: 100vw;
}

.osechi_fv, .osechi_fv_pc, main, section, footer {
  width: 100%;
}

.button {
  transition-duration: 0.3s;
}
.button:hover {
  opacity: 0.75;
}

a {
  width: 100%;
  height: 100%;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}