@charset "UTF-8";
/* --- reset --- */
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

p, div {
  word-break: break-all;
}

a {
  text-decoration: none;
}

input[type=text], select {
  border-radius: 3px;
  border: none;
  padding: 6px;
  font-size: inheirt;
  box-sizing: border-box;
}

input::placeholder {
  color: #B5B5B5;
  font-size: 12px;
}

pre {
  white-space: pre-wrap;
}

.clearfix {
  display: block;
}

.clearfix::before {
  content: "";
  display: block;
  clear: both;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.bx-wrapper {
  box-shadow: none !important;
}

.bx-controls-direction a {
  z-index: 0 !important;
}

* {
  font-family: "Noto Serif JP", serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 17.5px;
}

html, body {
  width: 100vw;
}

.osechi_fv, .osechi_fv_pc, main, section, footer {
  width: 100%;
}

.button {
  transition-duration: 0.3s;
}
.button:hover {
  opacity: 0.75;
}

a {
  width: 100%;
  height: 100%;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.osechi_fadeOut {
  opacity: 0;
}

.osechi_fadeIn {
  animation: fadeIn 3s cubic-bezier(0.33, 1, 0.68, 1) forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.osechi_slideOut {
  opacity: 0;
}

.osechi_slideIn {
  animation: slideIn 2s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}

@keyframes slideIn {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
  }
  40%, 100% {
    opacity: 1;
  }
}
body {
  overflow-x: hidden;
  /*
  .header {
      // display: none;
      width: 100%;
      height: 97.5px;
      background-color: $white;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 2;
  }
  */
}
body .osechi_pc {
  display: none;
}
body header .postage {
  padding: 0 0 0 0;
}
body header .postage p {
  font-size: 12px;
}
body .osechi_fv {
  background-image: url(https://gigaplus.makeshop.jp/kitanoace/01_osechi/assets/img/fv_bgImg1.jpg);
  padding-bottom: 75px;
  font-family: "Noto Serif JP", serif;
  position: relative;
}
body .osechi_fv .osechi_fv_bgImg {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
body .osechi_fv .osechi_fv_frex1 {
  width: 100%;
  padding-top: 45px;
  display: flex;
  justify-content: center;
}
body .osechi_fv .osechi_fv_frex1 .osechi_osechi1_img {
  width: 50vw;
  height: 50vw;
  margin-top: 70px;
  z-index: 0;
}
body .osechi_fv .osechi_fv_frex1 .osechi_osechi1_img img {
  box-shadow: 10px 10px 20px rgba(51, 51, 51, 0.5);
}
body .osechi_fv .osechi_fv_frex1 .osechi_fv_title {
  margin-left: 20px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  z-index: 0;
}
body .osechi_fv .osechi_fv_frex1 .osechi_fv_title .osechi_fv_title_span {
  writing-mode: vertical-rl;
  font-size: 28px;
  line-height: 28px;
  font-weight: 600;
  color: #FFFFFF;
}
body .osechi_fv .osechi_fv_frex1 .osechi_fv_title div {
  margin-right: 5px;
}
body .osechi_fv .osechi_fv_frex1 .osechi_fv_title div p:nth-of-type(1) {
  writing-mode: vertical-rl;
  font-size: 49px;
  font-weight: 600;
  letter-spacing: 10px;
  line-height: 49px;
  color: #FFFFFF;
}
body .osechi_fv .osechi_fv_frex1 .osechi_fv_title div p:nth-of-type(2) {
  margin-top: 2.5px;
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  color: #FFFFFF;
}
body .osechi_fv .osechi_fv_frex2 {
  width: 100%;
  margin-top: 5px;
  display: flex;
  justify-content: center;
}
body .osechi_fv .osechi_fv_frex2 .osechi_sale_icon {
  width: 35vw;
  margin: 50px 20px 0 0;
  z-index: 0;
}
body .osechi_fv .osechi_fv_frex2 .osechi_sale_icon img {
  height: auto;
}
body .osechi_fv .osechi_fv_frex2 .osechi_osechi2_img {
  width: 42.5vw;
  height: 42.5vw;
  z-index: 0;
}
body .osechi_fv .osechi_fv_frex2 .osechi_osechi2_img img {
  width: 100%;
  box-shadow: 10px 10px 20px rgba(51, 51, 51, 0.5);
}
body .osechi_fv .osechi_fv_fixed {
  width: calc(100vw - 50px);
  border: solid 1px #A1883C;
  background-color: #FFFFFF;
  padding: 22.5px 0;
  margin: 150px auto 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 0;
}
body .osechi_fv .osechi_fv_fixed p:nth-of-type(1), body .osechi_fv .osechi_fv_fixed p:nth-of-type(2) {
  margin-bottom: 17.5px;
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  font-weight: bold;
  color: #444444;
}
body .osechi_fv .osechi_fv_fixed p:nth-of-type(1) span, body .osechi_fv .osechi_fv_fixed p:nth-of-type(2) span {
  font-size: 35px;
  line-height: 35px;
}
body .osechi_fv .osechi_fv_fixed p:nth-of-type(3) {
  width: 75%;
  font-size: 12px;
  line-height: 12px;
  color: #A1883C;
  line-height: 15px;
}
body .osechi_fv .osechi_ribbon_icon {
  width: 100%;
  height: 30px;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(65%);
}
body .osechi_fv_pc {
  display: none;
}

.osechi_main {
  background-image: url(https://gigaplus.makeshop.jp/kitanoace/01_osechi/assets/img/bgImg.jpg);
  background-size: cover;
  background-position: center;
  padding-bottom: 100px;
}
.osechi_main .osechi_about {
  padding-top: 100px;
}
.osechi_main .osechi_about h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  color: #A1883C;
  letter-spacing: 0.7px;
  line-height: 30px;
  text-align: center;
}
.osechi_main .osechi_about h2 img {
  display: block;
  width: 35px;
  height: auto;
  margin: 0 auto 2.5px auto;
}
.osechi_main .osechi_about h2 span {
  display: block;
  margin-top: 2.5px;
  font-size: 14px;
  color: #C0C2A9;
  letter-spacing: 0;
  line-height: 14px;
}
.osechi_main .osechi_about ul {
  width: 75%;
  margin: 50px auto 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.osechi_main .osechi_about ul li {
  width: calc(33.3% - 3.3px);
  height: 32.5px;
  margin: 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.osechi_main .osechi_about ul li img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
.osechi_main .osechi_about ul li p {
  font-weight: 600;
  color: #A1883C;
  text-align: center;
  position: relative;
  z-index: 1;
}
.osechi_main .osechi_about .osechi_about_contents {
  width: calc(100vw - 100px);
  background-color: #FFFFFF;
  padding: 25px 25px 65px 25px;
  margin: 35px auto 0 auto;
}
.osechi_main .osechi_about .osechi_about_contents h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.7px;
  line-height: 30px;
  text-align: center;
}
.osechi_main .osechi_about .osechi_about_contents h3 img {
  display: block;
  width: 50px;
  height: auto;
  margin: 0 auto 5px auto;
}
.osechi_main .osechi_about .osechi_about_contents .osechi_about_contents_contents {
  margin-top: 25px;
}
.osechi_main .osechi_about .osechi_about_contents .osechi_about_contents_contents img {
  width: 100%;
  height: auto;
}
.osechi_main .osechi_about .osechi_about_contents .osechi_about_contents_contents p {
  margin-top: 50px;
  color: #A1883C;
  text-align: center;
}
.osechi_main .osechi_detail {
  padding-top: 100px;
  margin-top: 100px;
  background-image: url(https://gigaplus.makeshop.jp/kitanoace/01_osechi/assets/img/detail_bgImg1.png);
  background-size: cover;
  background-position: top center;
  position: relative;
}
.osechi_main .osechi_detail h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  color: #A1883C;
  letter-spacing: 0.7px;
  line-height: 30px;
  text-align: center;
  color: #FFFFFF;
}
.osechi_main .osechi_detail h2 img {
  display: block;
  width: 35px;
  height: auto;
  margin: 0 auto 2.5px auto;
}
.osechi_main .osechi_detail h2 span {
  display: block;
  margin-top: 2.5px;
  font-size: 14px;
  color: #C0C2A9;
  letter-spacing: 0;
  line-height: 14px;
}
.osechi_main .osechi_detail .osechi_ju {
  overflow-x: hidden;
  width: 100%;
  padding-bottom: 75px;
}
.osechi_main .osechi_detail .osechi_ju .osechi_ju_h3 {
  width: 75px;
  height: 150px;
  margin: 100px auto 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.osechi_main .osechi_detail .osechi_ju .osechi_ju_h3 img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: initial;
}
.osechi_main .osechi_detail .osechi_ju .osechi_ju_h3 h3 {
  writing-mode: vertical-rl;
  font-size: 24px;
  font-weight: bold;
  color: #FFFFFF;
  line-height: 24px;
}
.osechi_main .osechi_detail .osechi_ju .osechi_ju_img {
  width: 225px;
  height: 225px;
  margin: 25px auto 0 auto;
  position: relative;
}
.osechi_main .osechi_detail .osechi_ju .osechi_ju_img .osechi_osechi1 {
  box-shadow: 10px 10px 20px rgba(51, 51, 51, 0.5);
  position: relative;
  z-index: 1;
}
.osechi_main .osechi_detail .osechi_ju .osechi_ju_img .osechi_treat1 {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-35%);
  z-index: 0;
}
.osechi_main .osechi_detail .osechi_ju .osechi_ju_img .osechi_treat1 .osechi_treat1_img {
  width: auto;
  height: 100%;
}
.osechi_main .osechi_detail .osechi_ju .osechi_ju_img .osechi_treat1 .osechi_treat2_img {
  width: auto;
  height: 50%;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(25%);
  z-index: -1;
}
.osechi_main .osechi_detail .osechi_ju .osechi_ju_img .osechi_ju_menu_treat1 {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(60%, -30%);
  z-index: 0;
}
.osechi_main .osechi_detail .osechi_ju .osechi_ju_img .osechi_ju_menu_treat1 .osechi_ju_menu_treat1_img {
  width: auto;
  height: 100%;
}
.osechi_main .osechi_detail .osechi_ju .osechi_ju_contents {
  width: calc(100vw - 100px);
  height: 75vh;
  padding: 65px 25px 65px 25px;
  margin: 35px auto 0 auto;
  position: relative;
  z-index: 1;
}
.osechi_main .osechi_detail .osechi_ju .osechi_ju_contents .detail_contents_bg {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
.osechi_main .osechi_detail .osechi_ju .osechi_ju_contents h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.7px;
  text-align: center;
  position: relative;
  z-index: 1;
}
.osechi_main .osechi_detail .osechi_ju .osechi_ju_contents h3 img {
  display: block;
  width: 50px;
  height: auto;
  margin: 10px auto 0 auto;
}
.osechi_main .osechi_detail .osechi_ju .osechi_ju_contents ul {
  width: 100%;
  position: relative;
  z-index: 0;
}
.osechi_main .osechi_detail .osechi_ju .osechi_ju_contents ul li {
  margin-top: 35px;
  display: flex;
}
.osechi_main .osechi_detail .osechi_ju .osechi_ju_contents ul li img {
  width: 40%;
  height: auto;
}
.osechi_main .osechi_detail .osechi_ju .osechi_ju_contents ul li div {
  width: 60%;
  margin-left: 5%;
}
.osechi_main .osechi_detail .osechi_ju .osechi_ju_contents ul li div h4 {
  padding-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17.5px;
  line-height: 17.5px;
  font-weight: 400;
  color: #FFFFFF;
  position: relative;
}
.osechi_main .osechi_detail .osechi_ju .osechi_ju_contents ul li div h4 img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.osechi_main .osechi_detail .osechi_ju .osechi_ju_contents ul li div p {
  margin: 25px auto 0 auto;
  font-size: 12px;
}
.osechi_main .osechi_detail .osechi_ju .osechi_ju_contents ul li div p .osechi_link {
  color: #A1883C;
  text-decoration: underline;
}
.osechi_main .osechi_detail .osechi_ju .osechi_ju_menu_h3 {
  margin-top: 100px;
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  color: #FFFFFF;
  letter-spacing: 0.7px;
  text-align: center;
}
.osechi_main .osechi_detail .osechi_ju .osechi_ju_menu_table {
  width: calc(100vw - 50px);
  border-top: solid 1px #FFFFFF;
  border-bottom: solid 1px #FFFFFF;
  padding: 12.5px 0;
  margin: 50px auto 0 auto;
}
.osechi_main .osechi_detail .osechi_ju .osechi_ju_menu_table table tr td {
  padding: 3.5px 0;
  color: #FFFFFF;
}
.osechi_main .osechi_detail .osechi_ninoju {
  width: 100%;
  background-image: url(https://gigaplus.makeshop.jp/kitanoace/01_osechi/assets/img/detail_bgImg2.png);
  background-size: cover;
  background-position: top center;
  position: relative;
}
.osechi_main .osechi_detail .osechi_ninoju .osechi_detail_bgImg {
  width: 100%;
  height: 75px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-75%);
}
.osechi_main .osechi_detail .osechi_ninoju .osechi_ju_h3 h3 {
  color: #333333;
}
.osechi_main .osechi_detail .osechi_ninoju .osechi_ju_img .osechi_treat3 {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(60%, 15%);
  z-index: 0;
}
.osechi_main .osechi_detail .osechi_ninoju .osechi_ju_img .osechi_treat3 .osechi_treat3_img {
  width: auto;
  height: 100%;
}
.osechi_main .osechi_detail .osechi_ninoju .osechi_ju_img .osechi_treat3 .osechi_treat4_img {
  width: auto;
  height: 65%;
  position: absolute;
  bottom: 0;
  right: 5%;
  transform: translateY(15%);
  z-index: -1;
}
.osechi_main .osechi_detail .osechi_ninoju .osechi_ju_contents {
  height: 77vh;
  padding: 50px 25px 65px 25px;
}
.osechi_main .osechi_detail .osechi_ninoju .osechi_ju_contents .detail_contents_bg {
  height: 112.5%;
}
.osechi_main .osechi_detail .osechi_ninoju .osechi_ju_contents img {
  object-fit: initial;
}
.osechi_main .osechi_detail .osechi_ninoju .osechi_ju_contents ul li .osechi_ju_contents_li_img {
  height: 40%;
}
.osechi_main .osechi_detail .osechi_ninoju .osechi_ju_menu_h3 {
  color: #333333;
}
.osechi_main .osechi_detail .osechi_ninoju .osechi_ju_img .osechi_ju_menu_treat1 {
  transform: translate(-35%, -25%);
  z-index: 0;
}
.osechi_main .osechi_detail .osechi_ninoju .osechi_ju_menu_table {
  border-top: solid 1px #333333;
  border-bottom: solid 1px #333333;
}
.osechi_main .osechi_detail .osechi_ninoju .osechi_ju_menu_table table tr td {
  color: #333333;
}
.osechi_main .osechi_detail .osechi_ninoju .osechi_cta {
  margin-top: 75px;
}
.osechi_main .osechi_detail .osechi_ninoju .osechi_cta p {
  width: fit-content;
  margin: 0 auto;
  font-weight: 600;
  color: #C33B1D;
  position: relative;
}
.osechi_main .osechi_detail .osechi_ninoju .osechi_cta p::before, .osechi_main .osechi_detail .osechi_ninoju .osechi_cta p::after {
  content: "";
  width: 1px;
  height: 14px;
  background-color: #C33B1D;
  position: absolute;
  bottom: 0;
}
.osechi_main .osechi_detail .osechi_ninoju .osechi_cta p::before {
  left: 0;
  transform: translate(-7px, -2.5px) rotate(-15deg);
}
.osechi_main .osechi_detail .osechi_ninoju .osechi_cta p::after {
  right: 0;
  transform: translate(7px, -2.5px) rotate(15deg);
}
.osechi_main .osechi_detail .osechi_ninoju .osechi_cta .osechi_cta_button {
  width: calc(100vw - 75px);
  border-radius: 30px;
  background-image: url(https://gigaplus.makeshop.jp/kitanoace/01_osechi/assets/img/cta_bg.svg);
  box-shadow: 3px 3px 0px #A1883C;
  padding: 27.5px 0;
  margin: 12.5px auto 0 auto;
  position: relative;
}
.osechi_main .osechi_detail .osechi_ninoju .osechi_cta .osechi_cta_button::before {
  content: "";
}
.osechi_main .osechi_detail .osechi_ninoju .osechi_cta .osechi_cta_button a {
  width: 97.5%;
  height: 87.5%;
  border: solid 1px #FFFFFF;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17.5px;
  line-height: 17.5px;
  color: #FFFFFF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.osechi_main .osechi_detail .osechi_info {
  width: 100%;
  background-image: url(https://gigaplus.makeshop.jp/kitanoace/01_osechi/assets/img/info_bgImg.jpg);
  padding: 75px 0;
  position: relative;
}
.osechi_main .osechi_detail .osechi_info .osechi_ribbon_icon {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-7px);
  z-index: 1;
}
.osechi_main .osechi_detail .osechi_info .osechi_ribbon_icon img {
  height: auto;
}
.osechi_main .osechi_detail .osechi_info .osechi_info_deliver {
  width: calc(100vw - 100px);
  border: solid 1px #A1883C;
  background-color: #FFFFFF;
  padding: 25px 25px;
  margin: 0 auto;
}
.osechi_main .osechi_detail .osechi_info .osechi_info_deliver h3 {
  font-size: 17.5px;
  line-height: 17.5px;
  color: #A1883C;
  text-align: center;
}
.osechi_main .osechi_detail .osechi_info .osechi_info_deliver h3 span {
  display: block;
  width: 28px;
  margin: 0 auto 10px auto;
}
.osechi_main .osechi_detail .osechi_info .osechi_info_deliver .osechi_info_deliver_img {
  width: 100%;
  height: 175px;
  background-color: #C0C2A9;
  margin: 25px 0 12.5px 0;
}
.osechi_main .osechi_detail .osechi_info .osechi_info_deliver h4 {
  margin-top: 12.5px;
  font-weight: 40;
}
.osechi_main .osechi_detail .osechi_info .osechi_info_deliver ul li {
  margin-top: 2.5px;
}
.osechi_main .osechi_detail .osechi_info .osechi_info_enjoy {
  width: calc(100vw - 100px);
  border: solid 1px #A1883C;
  background-color: #FFFFFF;
  padding: 25px 25px;
  margin: 50px auto 0 auto;
}
.osechi_main .osechi_detail .osechi_info .osechi_info_enjoy h3 {
  font-size: 17.5px;
  line-height: 17.5px;
  color: #A1883C;
  text-align: center;
}
.osechi_main .osechi_detail .osechi_info .osechi_info_enjoy h3 span {
  display: block;
  width: 28px;
  margin: 0 auto 10px auto;
}
.osechi_main .osechi_detail .osechi_info .osechi_info_enjoy p {
  margin-top: 25px;
  font-size: 17.5px;
  line-height: 17.5px;
}
.osechi_main .osechi_detail .osechi_info .osechi_info_enjoy ul {
  margin-top: 25px;
}
.osechi_main .osechi_detail .osechi_info .osechi_info_enjoy ul li {
  margin-top: 10px;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 1.2px;
  line-height: 15px;
  color: #A1883C;
}
.osechi_main .osechi_service {
  background-image: url(https://gigaplus.makeshop.jp/kitanoace/01_osechi/assets/img/service_bgImg.svg);
  padding: 100px 0 75px 0;
}
.osechi_main .osechi_service h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  color: #A1883C;
  letter-spacing: 0.7px;
  line-height: 30px;
  text-align: center;
  color: #FFFFFF;
}
.osechi_main .osechi_service h2 img {
  display: block;
  width: 35px;
  height: auto;
  margin: 0 auto 2.5px auto;
}
.osechi_main .osechi_service h2 span {
  display: block;
  margin-top: 2.5px;
  font-size: 14px;
  color: #C0C2A9;
  letter-spacing: 0;
  line-height: 14px;
}
.osechi_main .osechi_service article {
  width: calc(100vw - 50px);
  background-color: #FFFFFF;
  padding: 25px 0;
  margin: 75px auto 0 auto;
}
.osechi_main .osechi_service article h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  color: #C33B1D;
  text-align: center;
}
.osechi_main .osechi_service article h3 span {
  display: block;
  width: 42px;
  margin: 0 auto 5px auto;
}
.osechi_main .osechi_service article p {
  margin-top: 25px;
  font-size: 17.5px;
  line-height: 17.5px;
  color: #A1883C;
  line-height: 21.875px;
  text-align: center;
}
.osechi_main .osechi_service article:nth-of-type(2) {
  margin: 50px auto 0 auto;
}
.osechi_main .osechi_qa {
  padding-top: 100px;
}
.osechi_main .osechi_qa h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  color: #A1883C;
  letter-spacing: 0.7px;
  line-height: 30px;
  text-align: center;
}
.osechi_main .osechi_qa h2 img {
  display: block;
  width: 35px;
  height: auto;
  margin: 0 auto 2.5px auto;
}
.osechi_main .osechi_qa h2 span {
  display: block;
  margin-top: 2.5px;
  font-size: 14px;
  color: #C0C2A9;
  letter-spacing: 0;
  line-height: 14px;
}
.osechi_main .osechi_qa ul {
  width: calc(100vw - 100px);
  padding: 0 25px;
  margin: 75px auto 0 auto;
  background-color: #FFFFFF;
}
.osechi_main .osechi_qa ul li {
  padding: 17.5px 0;
  border-bottom: solid 1px #A1883C;
}
.osechi_main .osechi_qa ul li table tr:nth-of-type(1) td {
  font-size: 17.5px;
  line-height: 17.5px;
  color: #A1883C;
  letter-spacing: 0.8px;
  line-height: 21.875px;
}
.osechi_main .osechi_qa ul li table tr:nth-of-type(2) td {
  padding-top: 5px;
  letter-spacing: 0.7px;
  line-height: 17.5px;
}
.osechi_main .osechi_qa ul li:nth-of-type(9) {
  border-bottom: solid 1px transparent;
}
.osechi_main .osechi_qa .osechi_cta {
  margin-top: 100px;
}
.osechi_main .osechi_qa .osechi_cta p {
  width: fit-content;
  margin: 0 auto;
  font-weight: 600;
  color: #C33B1D;
  position: relative;
}
.osechi_main .osechi_qa .osechi_cta p::before, .osechi_main .osechi_qa .osechi_cta p::after {
  content: "";
  width: 1px;
  height: 14px;
  background-color: #C33B1D;
  position: absolute;
  bottom: 0;
}
.osechi_main .osechi_qa .osechi_cta p::before {
  left: 0;
  transform: translate(-7px, -2.5px) rotate(-15deg);
}
.osechi_main .osechi_qa .osechi_cta p::after {
  right: 0;
  transform: translate(7px, -2.5px) rotate(15deg);
}
.osechi_main .osechi_qa .osechi_cta .osechi_cta_button {
  width: calc(100vw - 75px);
  border-radius: 30px;
  background-image: url(https://gigaplus.makeshop.jp/kitanoace/01_osechi/assets/img/cta_bg.svg);
  box-shadow: 3px 3px 0px #A1883C;
  padding: 27.5px 0;
  margin: 12.5px auto 0 auto;
  position: relative;
}
.osechi_main .osechi_qa .osechi_cta .osechi_cta_button::before {
  content: "";
}
.osechi_main .osechi_qa .osechi_cta .osechi_cta_button a {
  width: 97.5%;
  height: 87.5%;
  border: solid 1px #FFFFFF;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17.5px;
  line-height: 17.5px;
  color: #FFFFFF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* pc↓↓↓ */
@media screen and (min-width: 768px) {
  * {
    font-size: 16px;
    line-height: 20px;
  }
  .osechi_sp {
    display: none;
  }
  body {
    margin: 0;
    /*
    .header {
        display: block;
        width: 100vw;
        height: 147.5px;
        background-color: $white;
        // position: fixed;
        // top: 0;
        // left: 0;
    }
    */
  }
  body .osechi_pc {
    display: block;
  }
  body header .postage p {
    font-size: 16px;
  }
  body .osechi_fv {
    display: none;
  }
  body .header_back {
    width: 100vw;
    height: 90px;
  }
  body .osechi_fv_pc {
    display: block;
    background-image: url(https://gigaplus.makeshop.jp/kitanoace/01_osechi/assets/img/responsive/fv_bgImg1.jpg);
    padding-bottom: 75px;
    font-family: "Noto Serif JP", serif;
    position: relative;
  }
  body .osechi_fv_pc .osechi_fv_flex {
    width: 100vw;
    height: 65vh;
    background-image: url(https://gigaplus.makeshop.jp/kitanoace/01_osechi/assets/img/responsive/fv_bgImg2_re.jpg);
    background-size: cover;
    background-position: center bottom;
    padding: 125px 0 0 0;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 0;
  }
  body .osechi_fv_pc .osechi_fv_flex .osechi_sale_icon {
    width: 200px;
    height: 200px;
    margin-top: 225px;
  }
  body .osechi_fv_pc .osechi_fv_flex .osechi_osechi1 {
    width: 45vh;
    height: 45vh;
    margin: 25px 0 0 25px;
  }
  body .osechi_fv_pc .osechi_fv_flex .osechi_osechi2 {
    width: 35vh;
    height: 35vh;
    margin: 150px 0 0 25px;
  }
  body .osechi_fv_pc .osechi_fv_flex .osechi_fv-title {
    margin-left: 60px;
    display: flex;
    flex-direction: row-reverse;
  }
  body .osechi_fv_pc .osechi_fv_flex .osechi_fv-title .osechi_fv_title_span {
    writing-mode: vertical-rl;
    font-size: 28px;
    line-height: 28px;
    font-weight: 600;
    color: #FFFFFF;
  }
  body .osechi_fv_pc .osechi_fv_flex .osechi_fv-title div {
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(15%);
  }
  body .osechi_fv_pc .osechi_fv_flex .osechi_fv-title div p:nth-of-type(1) {
    writing-mode: vertical-rl;
    font-size: 60px;
    font-weight: 600;
    letter-spacing: 10px;
    line-height: 60px;
    color: #FFFFFF;
  }
  body .osechi_fv_pc .osechi_fv_flex .osechi_fv-title div p:nth-of-type(2) {
    margin-top: 5px;
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    color: #FFFFFF;
  }
  body .osechi_fv_pc .osechi_fv_fixed {
    width: 900px;
    border: solid 1px #A1883C;
    background-color: #FFFFFF;
    padding: 50px 0;
    margin: 100px auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 0;
    transform: translateY(-15%);
  }
  body .osechi_fv_pc .osechi_fv_fixed p:nth-of-type(1), body .osechi_fv_pc .osechi_fv_fixed p:nth-of-type(2) {
    margin-bottom: 25px;
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    font-weight: bold;
    color: #444444;
  }
  body .osechi_fv_pc .osechi_fv_fixed p:nth-of-type(1) span, body .osechi_fv_pc .osechi_fv_fixed p:nth-of-type(2) span {
    font-size: 45px;
    line-height: 45px;
  }
  body .osechi_fv_pc .osechi_fv_fixed p:nth-of-type(3) {
    width: auto;
    font-size: 16px;
    color: #A1883C;
    line-height: 16px;
    text-align: center;
  }
  body .osechi_fv_pc .osechi_ribbon_icon {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(70%);
  }
  body .osechi_main {
    overflow-x: hidden;
    background-color: #F0EEE7;
    background-image: url(https://gigaplus.makeshop.jp/kitanoace/01_osechi/assets/img/responsive/main_bgImg.jpg);
    background-size: cover;
    background-position: center;
    padding-bottom: 0;
  }
  body .osechi_main .osechi_about {
    padding-top: 150px;
    padding-bottom: 150px;
  }
  body .osechi_main .osechi_about h2 {
    font-size: 32px;
    line-height: 32px;
    color: #A1883C;
    letter-spacing: 1px;
    line-height: 35px;
    text-align: center;
  }
  body .osechi_main .osechi_about h2 img {
    display: block;
    width: 40px;
    height: auto;
    margin: 0 auto 5px auto;
  }
  body .osechi_main .osechi_about h2 span {
    display: block;
    margin-top: 7.5px;
    font-size: 16px;
    color: #C0C2A9;
    letter-spacing: 0;
    line-height: 16px;
  }
  body .osechi_main .osechi_about ul {
    width: 20%;
  }
  body .osechi_main .osechi_about ul li {
    height: 30px;
  }
  body .osechi_main .osechi_about .osechi_about_contents {
    width: 1000px;
    padding: 35px 25px 45px 25px;
  }
  body .osechi_main .osechi_about .osechi_about_contents h3 {
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
  }
  body .osechi_main .osechi_about .osechi_about_contents h3 img {
    width: 75px;
    margin: 0 auto 12.5px auto;
  }
  body .osechi_main .osechi_about .osechi_about_contents .osechi_about_contents_contents {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body .osechi_main .osechi_about .osechi_about_contents .osechi_about_contents_contents img {
    width: 50%;
    height: auto;
  }
  body .osechi_main .osechi_about .osechi_about_contents .osechi_about_contents_contents p {
    margin-top: 0;
    margin-left: 25px;
    color: #A1883C;
    letter-spacing: 1.6px;
    text-align: center;
  }
  body .osechi_main .osechi_detail {
    padding-top: 150px;
    margin-top: 0;
    background: url(https://gigaplus.makeshop.jp/kitanoace/01_osechi/assets/img/responsive/detail_bgImg1_re.png);
    background-size: cover;
    background-position: top center;
  }
  body .osechi_main .osechi_detail .osechi_detail_bgImg {
    width: 100%;
    height: 92.5px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-75%);
  }
  body .osechi_main .osechi_detail .osechi_pc {
    display: block;
  }
  body .osechi_main .osechi_detail h2 {
    font-size: 32px;
    line-height: 32px;
    color: #A1883C;
    letter-spacing: 1px;
    line-height: 35px;
    text-align: center;
    color: #FFFFFF;
  }
  body .osechi_main .osechi_detail h2 img {
    display: block;
    width: 40px;
    height: auto;
    margin: 0 auto 5px auto;
  }
  body .osechi_main .osechi_detail h2 span {
    display: block;
    margin-top: 7.5px;
    font-size: 16px;
    color: #C0C2A9;
    letter-spacing: 0;
    line-height: 16px;
  }
  body .osechi_main .osechi_detail .osechi_ju {
    overflow-x: unset;
    padding-bottom: 100px;
  }
  body .osechi_main .osechi_detail .osechi_ju .osechi_ju_h3 {
    width: 90px;
    height: 200px;
    margin: 150px auto 0 auto;
  }
  body .osechi_main .osechi_detail .osechi_ju .osechi_ju_h3 h3 {
    padding: 40px 0 25px 0;
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 16px;
  }
  body .osechi_main .osechi_detail .osechi_ju .osechi_ju_img {
    width: 400px;
    height: 400px;
    margin: 50px auto 0 auto;
  }
  body .osechi_main .osechi_detail .osechi_ju .osechi_ju_img .osechi_treat1 {
    width: 75vh;
    height: 75vh;
    transform: translate(-75vh, 100px);
  }
  body .osechi_main .osechi_detail .osechi_ju .osechi_ju_img .osechi_treat1 .osechi_treat2_img {
    height: 65%;
    transform: translateY(15%);
  }
  body .osechi_main .osechi_detail .osechi_ju .osechi_ju_contents {
    width: 1000px;
    height: auto;
    padding: 100px 50px;
    z-index: 1;
  }
  body .osechi_main .osechi_detail .osechi_ju .osechi_ju_contents .detail_contents_bg_pc {
    height: 100%;
    display: block;
    object-fit: none;
  }
  body .osechi_main .osechi_detail .osechi_ju .osechi_ju_contents h3 {
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
  }
  body .osechi_main .osechi_detail .osechi_ju .osechi_ju_contents ul {
    width: calc(100% - 100px);
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  body .osechi_main .osechi_detail .osechi_ju .osechi_ju_contents ul li {
    width: 30%;
    flex-direction: column;
  }
  body .osechi_main .osechi_detail .osechi_ju .osechi_ju_contents ul li img {
    width: 80%;
    margin: 0 auto;
  }
  body .osechi_main .osechi_detail .osechi_ju .osechi_ju_contents ul li div {
    width: 80%;
    margin-left: 0;
    margin: 0 auto;
  }
  body .osechi_main .osechi_detail .osechi_ju .osechi_ju_contents ul li div h4 {
    padding-top: 7.5px;
    margin-top: 15px;
    font-size: 20px;
    line-height: 20px;
  }
  body .osechi_main .osechi_detail .osechi_ju .osechi_ju_contents ul li div p {
    margin-top: 25px;
    font-size: 15px;
    line-height: 20px;
  }
  body .osechi_main .osechi_detail .osechi_ju .osechi_ju_contents ul li:nth-of-type(2) {
    flex-direction: column-reverse;
    transform: translateY(-20px);
  }
  body .osechi_main .osechi_detail .osechi_ju .osechi_ju_menu_h3 {
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
  }
  body .osechi_main .osechi_detail .osechi_ju .osechi_ju_flex {
    width: 1000px;
    margin: 25px auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body .osechi_main .osechi_detail .osechi_ju .osechi_ju_flex .osechi_ju_img .osechi_ju_menu_treat1 {
    width: 65vh;
    height: 65vh;
    transform: translate(225%, -115%);
    z-index: 0;
  }
  body .osechi_main .osechi_detail .osechi_ju .osechi_ju_flex .osechi_ju_img .osechi_ju_menu_treat1 .osechi_ju_menu_treat1_img {
    width: auto;
    height: 100%;
  }
  body .osechi_main .osechi_detail .osechi_ju .osechi_ju_flex .osechi_flex_osechi1 {
    width: 200px;
    height: 200px;
    margin: 0 0 0 0;
  }
  body .osechi_main .osechi_detail .osechi_ju .osechi_ju_flex .osechi_ju_menu_table {
    width: auto;
    border-top: solid 1px transparent;
    border-bottom: solid 1px transparent;
    padding: 0 0;
    margin: 0 0 0 25px;
  }
  body .osechi_main .osechi_detail .osechi_ju .osechi_ju_flex .osechi_ju_menu_table table {
    border-top: solid 1px #FFFFFF;
    border-bottom: solid 1px #FFFFFF;
  }
  body .osechi_main .osechi_detail .osechi_ju .osechi_ju_flex .osechi_ju_menu_table table tr td {
    padding: 3.5px 0;
    color: #FFFFFF;
  }
  body .osechi_main .osechi_detail .osechi_ju .osechi_ju_flex .osechi_ju_menu_table table tr:nth-of-type(1) td {
    padding-top: 12.5px;
  }
  body .osechi_main .osechi_detail .osechi_ju .osechi_ju_flex .osechi_ju_menu_table table tr:nth-of-type(4) td {
    padding-bottom: 12.5px;
  }
  body .osechi_main .osechi_detail .osechi_ninoju {
    padding-top: 75px;
    background: url(https://gigaplus.makeshop.jp/kitanoace/01_osechi/assets/img/responsive/detail_bgImg2_re.png);
    background-size: cover;
    background-position: top center;
  }
  body .osechi_main .osechi_detail .osechi_ninoju .osechi_detail_bgImg {
    width: 100%;
    height: 110px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-75%);
  }
  body .osechi_main .osechi_detail .osechi_ninoju .osechi_ju_img .osechi_treat3 {
    width: 65vh;
    height: 65vh;
    transform: translate(100%, 5%);
  }
  body .osechi_main .osechi_detail .osechi_ninoju .osechi_ju_img .osechi_treat3 .osechi_treat4_img {
    transform: translateY(40%);
  }
  body .osechi_main .osechi_detail .osechi_ninoju .osechi_ju_contents ul li:nth-of-type(2) {
    flex-direction: column-reverse;
    transform: translateY(-80px);
  }
  body .osechi_main .osechi_detail .osechi_ninoju .osechi_ju_contents ul li:nth-of-type(3) img {
    height: auto;
  }
  body .osechi_main .osechi_detail .osechi_ninoju .osechi_ju_flex .osechi_ju_img .osechi_ju_menu_treat1 {
    transform: translate(-50%, -100%);
  }
  body .osechi_main .osechi_detail .osechi_ninoju .osechi_ju_flex .osechi_ju_menu_table {
    width: 60%;
  }
  body .osechi_main .osechi_detail .osechi_ninoju .osechi_ju_flex .osechi_ju_menu_table table {
    width: 100%;
    border-top: solid 1px #333333;
    border-bottom: solid 1px #333333;
  }
  body .osechi_main .osechi_detail .osechi_ninoju .osechi_ju_flex .osechi_ju_menu_table table tr td {
    padding: 3.5px 0;
    color: #333333;
  }
  body .osechi_main .osechi_detail .osechi_ninoju .osechi_ju_flex .osechi_ju_menu_table table tr:nth-of-type(4) td {
    padding-bottom: 0;
  }
  body .osechi_main .osechi_detail .osechi_ninoju .osechi_ju_flex .osechi_ju_menu_table table tr:nth-of-type(9) td {
    padding-bottom: 12.5px;
  }
  body .osechi_main .osechi_detail .osechi_ninoju .osechi_cta {
    width: 900px;
    margin: 0 auto;
    margin-top: 75px;
  }
  body .osechi_main .osechi_detail .osechi_ninoju .osechi_cta p {
    width: fit-content;
    margin: 0 auto;
    font-weight: 600;
    color: #C33B1D;
    position: relative;
  }
  body .osechi_main .osechi_detail .osechi_ninoju .osechi_cta p::before, body .osechi_main .osechi_detail .osechi_ninoju .osechi_cta p::after {
    content: "";
    width: 1px;
    height: 14px;
    background-color: #C33B1D;
    position: absolute;
    bottom: 0;
  }
  body .osechi_main .osechi_detail .osechi_ninoju .osechi_cta p::before {
    left: 0;
    transform: translate(-7px, -2.5px) rotate(-15deg);
  }
  body .osechi_main .osechi_detail .osechi_ninoju .osechi_cta p::after {
    right: 0;
    transform: translate(7px, -2.5px) rotate(15deg);
  }
  body .osechi_main .osechi_detail .osechi_ninoju .osechi_cta .osechi_cta_button {
    width: 100%;
    border-radius: 40px;
    background-image: url(https://gigaplus.makeshop.jp/kitanoace/01_osechi/assets/img/cta_bg.svg);
    box-shadow: 3px 3px 0px #A1883C;
    padding: 40px 0;
    margin: 12.5px auto 0 auto;
    position: relative;
  }
  body .osechi_main .osechi_detail .osechi_ninoju .osechi_cta .osechi_cta_button::before {
    content: "";
  }
  body .osechi_main .osechi_detail .osechi_ninoju .osechi_cta .osechi_cta_button a {
    width: 99%;
    height: 89%;
    border: solid 1px #FFFFFF;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  body .osechi_main .osechi_detail .osechi_info {
    padding-top: 100px;
  }
  body .osechi_main .osechi_detail .osechi_info .osechi_ribbon_icon {
    transform: translateY(-20px);
  }
  body .osechi_main .osechi_detail .osechi_info .osechi_info_flex {
    width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  body .osechi_main .osechi_detail .osechi_info .osechi_info_flex .osechi_info_deliver, body .osechi_main .osechi_detail .osechi_info .osechi_info_flex .osechi_info_enjoy {
    width: calc(50% - 100px);
  }
  body .osechi_main .osechi_detail .osechi_info .osechi_info_flex .osechi_info_deliver h3, body .osechi_main .osechi_detail .osechi_info .osechi_info_flex .osechi_info_enjoy h3 {
    font-size: 20px;
    line-height: 20px;
  }
  body .osechi_main .osechi_detail .osechi_info .osechi_info_flex .osechi_info_deliver .osechi_info_deliver_img, body .osechi_main .osechi_detail .osechi_info .osechi_info_flex .osechi_info_enjoy .osechi_info_deliver_img {
    width: 100%;
    height: 300px;
    background-color: #C0C2A9;
    margin: 25px 0 12.5px 0;
  }
  body .osechi_main .osechi_detail .osechi_info .osechi_info_flex .osechi_info_deliver p, body .osechi_main .osechi_detail .osechi_info .osechi_info_flex .osechi_info_enjoy p {
    font-size: 20px;
    line-height: 20px;
    line-height: 24px;
  }
  body .osechi_main .osechi_detail .osechi_info .osechi_info_flex .osechi_info_deliver ul li, body .osechi_main .osechi_detail .osechi_info .osechi_info_flex .osechi_info_enjoy ul li {
    margin-top: 15px;
    font-size: 16px;
    line-height: 20px;
  }
  body .osechi_main .osechi_detail .osechi_info .osechi_info_flex .osechi_info_enjoy {
    height: fit-content;
    margin-top: 0;
    margin-left: 50px;
  }
  body .osechi_main .osechi_service {
    padding: 100px 0 100px 0;
  }
  body .osechi_main .osechi_service h2 {
    font-size: 32px;
    line-height: 32px;
    color: #A1883C;
    letter-spacing: 1px;
    line-height: 35px;
    text-align: center;
    line-height: 40px;
    color: #FFFFFF;
  }
  body .osechi_main .osechi_service h2 img {
    display: block;
    width: 40px;
    height: auto;
    margin: 0 auto 5px auto;
  }
  body .osechi_main .osechi_service h2 span {
    display: block;
    margin-top: 7.5px;
    font-size: 16px;
    color: #C0C2A9;
    letter-spacing: 0;
    line-height: 16px;
  }
  body .osechi_main .osechi_service h2 .osechi_sp {
    display: block;
  }
  body .osechi_main .osechi_service article {
    width: 900px;
  }
  body .osechi_main .osechi_service article h3 {
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
  }
  body .osechi_main .osechi_service article h3 span {
    margin: 0 auto 7.5px auto;
  }
  body .osechi_main .osechi_qa {
    background-image: none;
    padding-bottom: 150px;
  }
  body .osechi_main .osechi_qa .osechi_pc {
    display: block;
  }
  body .osechi_main .osechi_qa h2 {
    font-size: 32px;
    line-height: 32px;
    color: #A1883C;
    letter-spacing: 1px;
    line-height: 35px;
    text-align: center;
  }
  body .osechi_main .osechi_qa h2 img {
    display: block;
    width: 40px;
    height: auto;
    margin: 0 auto 5px auto;
  }
  body .osechi_main .osechi_qa h2 span {
    display: block;
    margin-top: 7.5px;
    font-size: 16px;
    color: #C0C2A9;
    letter-spacing: 0;
    line-height: 16px;
  }
  body .osechi_main .osechi_qa h2 .osechi_sp {
    display: block;
  }
  body .osechi_main .osechi_qa ul {
    width: 900px;
    padding: 25px 50px;
  }
  body .osechi_main .osechi_qa ul li {
    padding: 25px 0;
  }
  body .osechi_main .osechi_qa ul li table tr:nth-of-type(1) td {
    font-size: 20px;
    line-height: 20px;
  }
  body .osechi_main .osechi_qa ul li table tr:nth-of-type(2) td {
    padding-top: 15px;
  }
  body .osechi_main .osechi_qa .osechi_cta {
    width: 900px;
    margin: 0 auto;
    margin-top: 75px;
  }
  body .osechi_main .osechi_qa .osechi_cta p {
    width: fit-content;
    margin: 0 auto;
    font-weight: 600;
    color: #C33B1D;
    position: relative;
  }
  body .osechi_main .osechi_qa .osechi_cta p::before, body .osechi_main .osechi_qa .osechi_cta p::after {
    content: "";
    width: 1px;
    height: 14px;
    background-color: #C33B1D;
    position: absolute;
    bottom: 0;
  }
  body .osechi_main .osechi_qa .osechi_cta p::before {
    left: 0;
    transform: translate(-7px, -2.5px) rotate(-15deg);
  }
  body .osechi_main .osechi_qa .osechi_cta p::after {
    right: 0;
    transform: translate(7px, -2.5px) rotate(15deg);
  }
  body .osechi_main .osechi_qa .osechi_cta .osechi_cta_button {
    width: 100%;
    border-radius: 40px;
    background-image: url(https://gigaplus.makeshop.jp/kitanoace/01_osechi/assets/img/cta_bg.svg);
    box-shadow: 3px 3px 0px #A1883C;
    padding: 40px 0;
    margin: 12.5px auto 0 auto;
    position: relative;
  }
  body .osechi_main .osechi_qa .osechi_cta .osechi_cta_button::before {
    content: "";
  }
  body .osechi_main .osechi_qa .osechi_cta .osechi_cta_button a {
    width: 99%;
    height: 89%;
    border: solid 1px #FFFFFF;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}