@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&display=swap');

$black: #333333;
$black_a: rgba(51, 51, 51, .5);
$white: #FFFFFF;
$grey: #C0C2A9;
$red: #C33B1D;
$gold: #A1883C;

* {
    font-family: "Noto Serif JP", serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 17.5px;
}

html, body {
    width: 100vw;
}

.osechi_fv, .osechi_fv_pc, main, section, footer {
    width: 100%;
}

.button {
    transition-duration: .3s;

    &:hover {
        opacity: .75;
    }
}

a {
    width: 100%;
    height: 100%;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@mixin bg {
    background-size: cover;
    background-position: center;
}

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin absolute {
    position: absolute;
    top: 0;
    left: 0;
}

@mixin font_ss {
    font-size: 10.5px;
    line-height: 10.5px;
}

@mixin font_s {
    font-size: 12px;
    line-height: 12px;
}

@mixin font_l {
    font-size: 17.5px;
    line-height: 17.5px;
}

@mixin font_ll {
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
}

@mixin font_lll {
    font-size: 28px;
    line-height: 28px;
}

@mixin h2 {
    @include font_ll;
    color: $gold;
    letter-spacing: .7px;
    line-height: 30px;
    text-align: center;

    img {
        display: block;
        width: 35px;
        height: auto;
        margin: 0 auto 2.5px auto;
    }

    span {
        display: block;
        margin-top: 2.5px;
        font-size: 14px;
        color: $grey;
        letter-spacing: 0;
        line-height: 14px;
    }
}

@mixin cta {

    p {
        width: fit-content;
        margin: 0 auto;
        font-weight: 600;
        color: $red;
        position: relative;

        &::before, &::after {
            content: '';
            width: 1px;
            height: 14px;
            background-color: $red;
            position: absolute;
            bottom: 0;
        }

        &::before {
            left: 0;
            transform: translate(-7px, -2.5px) rotate(-15deg);
        }

        &::after {
            right: 0;
            transform: translate(7px, -2.5px) rotate(15deg);
        }
    }

    .osechi_cta_button {
        width: calc(100vw - 75px);
        border-radius: 30px;
        // background-image: url(../img/cta_bg.svg);
        background-image: url(https://gigaplus.makeshop.jp/kitanoace/01_osechi/assets/img/cta_bg.svg);
        box-shadow: 3px 3px 0px $gold;
        padding: 27.5px 0;
        margin: 12.5px auto 0 auto;
        position: relative;
    
        &::before {
            content: '';
        }
    
        a {
            width: 97.5%;
            height: 87.5%;
            border: solid 1px $white;
            border-radius: 30px;
            @include center;
            @include font_l;
            color: $white;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }    
    }    
}
